.screen{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #363636;
    font-family: 'Titillium Web', sans-serif;
    color: #a8b7be; 
}

.main-title{
    background-color: #4F4F4F;
    text-align: center;
    color: #ed145b;
}

.subtitle{
    text-align: center;
    font-weight: lighter;
    color: antiquewhite;  
}

.middle{
    display: none;
}

.layout-code, .layout-decode{
    padding: 3%;   
    width: 60%;   
    display: block;
    margin: auto;   
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    outline: none;     
}

.layout-code{
    margin-top: 5%;
    margin-bottom: 5%;
}

.layout-code:hover, .layout-decode:hover{
    background-color:#ed145b;
    cursor: pointer;
    color: antiquewhite;
    transition-delay: 0.3s;  
}

.layout-number-code, .layout-number-decode {
    display: block;
    margin: auto;
    width: 10%;
    border-style: none;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.text-encoder, .text-decoder{
    background-color: #4F4F4F;
    color: antiquewhite;  
    text-align: center;
    margin-top: 40px; 
    padding: 4px;  
}

.layout-button-code, .layout-button-decode, .back-screen{
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
    width: 18%;
    font-size: 14px;
    background-color:#ed145b;
    border: none;
    color: antiquewhite;
    outline: none;   
}

.layout-button-code:hover, .layout-button-decode:hover, .back-screen:hover{
    border: #ed145b;
    border-radius: 8px;
    color: #363636;
    cursor: pointer;
}


.layout-insert-word-code, .layout-insert-word-decode{
    font-size: 16px;
    text-align: center;
    background-color: rgb(221, 221, 221);
    border: none;
    border-radius: 10px;   
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    margin-top: 5px;      
    outline: none;
}

legend{
    font-size: 11px;
    padding: 1px;
    margin-bottom: 8px;
}


